node.name: {{ node_name }}
path.data: {{ path_data }}
pipeline.unsafe_shutdown: {{ pipeline_unsafe_shutdown }}
path.config: {{ path_config }}
http.host: "{{ http_host }}"
http.port: {{ http_port }}
log.level: {{ log_level }}
path.logs: {{ path_logs }}
